  <ion-modal-view id="start" class="start-modal" >

    <ion-content class="padding fullheight" >

      <div class="contentbox">

        <h1>
          <img src="img/ylog.png" />

          Hae yrityksiä</h1>

        <button 
          ng-click="closeStart()"
          class="button button-light button-large button-block button-outline ">
     
           <span class="positive">&raquo;</span> 
           Aloita 
           <span class="positive">&laquo;</span>

        </button>
      </div>

    </ion-content>
  </ion-modal-view>